* {
    margin: 0;
    padding: 0; }

#desplegable{
    display: none;
}

#coverInicio{
    background-image: url(../img/Pasteleria.jpeg);
    background-color: #cccccc;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

.coverText{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imgHero1, .imgHero2{
    min-width: 300px;
    min-height: 300px;
}
